.header {
  height: 4rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  .wrap {
    position: relative;
    // max-width: 1450px;
    height: 100%;
    margin: 0 auto;

    .logo {
      width: 5rem;
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

    .search {
      position: absolute;
      top: 50%;
      left: 150px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .callToActions {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      ul,
      li {
        padding: 0;
        margin: 0;
      }

      li {
        list-style-type: none;
        display: inline-block;
        margin: 1.5rem;
        &:last-child {
          margin-right: 0;
        }

        span {
          cursor: pointer;
        }

        a {
          font-size: 1rem;
          line-height: 1;
          color: black;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .header {
    .wrap {
      .search {
        display: none;
      }
    }
  }
}
